<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
    <header class="header">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="global.header-nav.partial.html"
        ></nav>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.header-hero.partial.html"
        ></section>
    </header>
    <main>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.awards.partial.html"
        ></section>
    </main>
    <footer
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="global.footer.partial.html"
  ></footer>
</body>
</html>